node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.eslintcache
yarn-error.log
energy-viz-backup
twi-fringe.mdc
svg_icons
tf-home-v2-backup
aurora.css
aurora.js
aurorareference.html
auroraSettings.json
tfhome2.html
tf-dialog-run.riv
