/* WEBFLOW: GALLERY SECTION */

/* :root {
  --dynamic-text-color: var(--MintBlack); Default to your darkest color
  --dynamic-hover-color: var(--MintDark); Default hover color 
  --dynamic-active-color: var(--MintGray); Color for active elements 
} */

/* Default state for all dynamic color elements */
/* .project-subtitle-h3,
.project-name-h1,
.project-subtitle-h2,
.paragraph-andale-mono.metadata,
.mini-heading-title.metadata,
.arrow-icon-button.grey,
.lower-nav-text.grey-ish,
.paragraph-andale-mono.navguide,
.gal-tab,
.squarecorner-unit,
.scroll-dot,
.scroll-line-project,
.gallery-scroll-card,
.tiny-tag-wrapper,
.paragraph-andale-mono.tiny-tag,
.item-card-title,
.mono-paragraph.scroll-card-subtitle,
.mono-paragraph.scroll-card-gal,
.mini-heading-title.cardmeta,
.mint-deets-button,
.item-gallery-dot,
.scroll-line-project {
  color: var(--dynamic-text-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}



/* Rest of your existing styles */
body.initial-load .slider-bg_component {
  transition: none;
}

.slider-bg_component {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  width: 100vw; /* Fixed width */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #f0f0f0;  Default background color */
}

.slider-bg_component.transitioning {
  opacity: 0;
  filter: blur(10px);
  transform: scale(1.075);
}
